# str => String Datatype in Python

In [1]:
name : str = "Mirza Ziyad Ahmed Baig"
display(name)

'Mirza Ziyad Ahmed Baig'

In [2]:
name : str = 'Mirza Ziyad Ahmed Baig'
display(name)

'Mirza Ziyad Ahmed Baig'

# Boundary error of ' '.

In [7]:
message : str = 'Hi, I am Ziyad & my father's name is Imran'
display(message)

SyntaxError: unterminated string literal (detected at line 1) (2087396366.py, line 1)

# Solutions

- using Alternative inverted commas i.e " father's "

In [8]:
message : str = "Hi, I am Ziyad & my father's name is Imran"
display(message)

"Hi, I am Ziyad & my father's name is Imran"

- By placing \ before any special character to convert it into simple character.

In [9]:
message : str = 'Hi, I am Ziyad & my father\'s name is Imran'
display(message)

"Hi, I am Ziyad & my father's name is Imran"

# Escape Sequences

- "\\" Line Continue (let us change our line when the code get too long in a single line)

In [21]:
display(7 +\
        2 +\
        8)

17

- "\n" New Line (go to next line)

In [23]:
print("\nHi, \nHow \nare \nyou\n?")

Hi,
How
are
you?

- "\t" Tab Space (enter an indentation)

In [24]:
print("\tHi, \tHow \tare \tyou\t?")

	Hi, 	How 	are 	you	?

- "\b" Back Space (remove previous element)

In [26]:
print("Hi, \bHow \bare \byou\b?")

Hi,Howareyo?

# String Concatenation

In [10]:
"a" + "b" + "c"

'abc'

In [14]:
"H" + "2" + "O"

'H2O'

# This error occurs because we were concatenating string with integer that is the age

In [27]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = "PIAIC STUDENT CARD\nStudent Name: " + name + "\nFather Name: " + father_name + "\nAge: " + age + "\nEducation: " + education
print(student_card)

TypeError: can only concatenate str (not "int") to str

# Solutions

- By type casting integer into string

In [20]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = "PIAIC STUDENT CARD\nStudent Name: " + name + "\nFather Name: " + father_name + "\nAge: " + str(age) + "\nEducation: " + education
print(student_card)

PIAIC STUDENT CARD
Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

In [29]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = "PIAIC STUDENT CARD\n\
Student Name: " + name + "\n\
Father Name: " + father_name + "\n\
Age: " + str(age) + "\n\
Education: " + education
print(student_card)

PIAIC STUDENT CARD
Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

# Define Multiline String """ """, ''' '''

In [36]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = """
    PIAIC STUDENT CARD

Student Name: ***** ****
Father Name: ***** ****
Age: **
Education: ******* ** ******** ****** 
"""
print(student_card)

    PIAIC STUDENT CARD

Student Name: ***** ****
Father Name: ***** ****
Age: **
Education: ******* ** ******** ******

# F-String in Python (adds dynamic values into string)

- f""" """

In [37]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = f"""
    PIAIC STUDENT CARD

Student Name: {name}
Father Name: {father_name}
Age: {age}
Education: {education}  
"""
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

- f''' '''

In [38]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = f'''
    PIAIC STUDENT CARD

Student Name: {name}
Father Name: {father_name}
Age: {age}
Education: {education}  
'''
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

# Template Literals are not allowed in Python

In [40]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = `
PIAIC STUDENT CARD
Student Name: {name}
Father Name: {father_name}
Age: {age}
Education: {education}  
`
print(student_card)

SyntaxError: invalid syntax (1576788170.py, line 6)

# F-String and Jinja Style

- F-string:

In [43]:
print(f"""
student name {name}
""")

student name Ziyad Baig

- Jinja Style:

In [45]:
# Jinja Style (It's more used with HTML)
"""
student name {{name}}
"""

'\nstudent name {{name}}\n'

# Format Strings

- %s for string & %d for integer

In [46]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = f"""
    PIAIC STUDENT CARD

Student Name: %s
Father Name: %s
Age: %d 
Education: %s 
""" % (name, father_name, age, education)
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

# .format() Method

- Example 1:

In [125]:
a : int = 5
b : int = 8

message: str = "Value of a = {} and Value of b = {}".format(a,b)
c : str = "Value of c = {}".format(a+b)
print(message)
print(c)

Value of a = 5 and Value of b = 8
Value of c = 13

- Example 2: (This example shows that order of arguments matters in .format() method)

In [49]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = """
    PIAIC STUDENT CARD

Student Name: {}
Father Name: {}
Age: {}
Education: {}  
""".format(father_name, name, education, age)
print(student_card)

    PIAIC STUDENT CARD

Student Name: Imran Baig
Father Name: Ziyad Baig
Age: Bachelor's in Computer Science
Education: 24

- Example 3: (We can input the index numbers in the desired dynamic string position)

In [50]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = """
    PIAIC STUDENT CARD

Student Name: {1}
Father Name: {0}
Age: {3}
Education: {2}  
""".format(father_name, name, education, age)
#             0           1       2       3
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

- Example 4: (We can also assign arguments into variables and then use them)

In [51]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = """
    PIAIC STUDENT CARD

Student Name: {b}
Father Name: {a}
Age: {d}
Education: {c}
""".format(a=father_name, b=name, c=education, d=age)
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

# Two Recommended F-String Methods

- Method 1:

In [52]:
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

student_card : str = f"""
    PIAIC STUDENT CARD

Student Name: {name}
Father Name: {father_name}
Age: {age}
Education: {education}  
"""
print(student_card)

    PIAIC STUDENT CARD

Student Name: Ziyad Baig
Father Name: Imran Baig
Age: 24
Education: Bachelor's in Computer Science

- Method 2:

In [57]:
student_card : str = """
name : str = "Ziyad Baig"
father_name : str = "Imran Baig"
age : int = 24
education : str = "Bachelor's in Computer Science"

print("PIAIC STUDENT CARD")
print("Student Name: ", name)
print("Father Name: ", father_name)
print("Age: ", age)
print("Education: ", education)

"""

exec(student_card)

PIAIC STUDENT CARD
Student Name:  Ziyad Baig
Father Name:  Imran Baig
Age:  24
Education:  Bachelor's in Computer Science

# Exploring String Methods and Attributes

- In Pre-Defined, Global function we have:
    - print()
    - type()
    - id()
    - len()
    - dir()

In [62]:
long_string : str = "Pakistan Zindabad!"

print(long_string)          # print the result of an expression or variable
print(type(long_string))    # returns the datatype of that variable
print(id(long_string))      # return physical address of that data
print(len(long_string))     # calculates length of a string or list or tuple
print(dir(long_string))     # all available methods and attributes of a datatype

Pakistan Zindabad!
<class 'str'>
1858968886960
18
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

# All String Methods:

In [65]:
country : str = "Pakistan"
display(len([i for i in dir(country) if "__" not in i]))
display([i for i in dir(country) if "__" not in i])

47

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# .capitalize() => Converts the first character to upper case

In [66]:
# Upper case the first letter in this sentence:

txt : str = "python is FUN!"

print (txt.capitalize())

Python is fun!

# .casefold() => Converts string into lower case

In [68]:
# Make the string lower case:

txt : str = "Hello, And Welcome To My World!"

print(txt.casefold())

hello, and welcome to my world!

# .center() => Returns a centered string

In [74]:
# Print the word "banana", taking up the space of 50 characters, with "banana" in the middle

txt : str = "banana"

print(txt.center(50))

                      banana

# .count() => Returns the number of times a specified value occurs in a string

In [76]:
# Return the number of times the value "apple" appears in the string:

txt : str = "I love apples, apple are my favorite fruit"

print(txt.count("apple"))

2

# .encode() => Returns an encoded version of the string

In [77]:
# UTF-8 encode the string:

txt : str = "My name is Ståle"

print(txt.encode())

b'My name is St\xc3\xa5le'

# .endswith() => Returns true if the string ends with the specified value

In [78]:
# Check if the string ends with a punctuation sign (.):

txt : str = "Hello, welcome to my world."

print(txt.endswith("."))

True

# .expandtabs() => Sets the tab size of the string

In [80]:
# Set the tab size to 4 whitespaces:

txt : str = "H\te\tl\tl\to"

print(txt.expandtabs(4))

H   e   l   l   o

# .find() => Searches the string for a specified value and returns the position of where it was found

In [82]:
# At what index in the text is the word "welcome"?:

txt : str = "Hello, welcome to my world."

print(txt.find("welcome"))

7

# .format() => Formats specified values in a string

In [84]:
#Insert the price inside the placeholder, the price should be in fixed point, two-decimal format:

txt : str = "For only {price:.2f} dollars!"

print(txt.format(price = 49.123123123))

For only 49.12 dollars!

# .format_map() => Formats specified values in a string

In [126]:
# Returns key’s values of the input dictionary.

person : dict[str, str] = {'first_name':'John', 'last_name':'Wick'} 
  
print("{first_name}'s last name is {last_name}".format_map(person))

John's last name is Wick

# .index() => Searches the string for a specified value and returns the position of where it was found

In [86]:
# At what index in the text is the word "welcome"?:

txt : str = "Hello, welcome to my world."

print(txt.index("welcome"))

7

# .isalnum() =>	Returns True if all characters in the string are alphanumeric

In [87]:
# Check if all the characters in the text are alphanumeric:

txt : str = "Company12"

print(txt.isalnum())

True

# .isalpha() =>	Returns True if all characters in the string are in the alphabet

In [90]:
# Check if all the characters in the text are letters:

txt : str = "CompanyX"

print(txt.isalpha())

True

# .isascii() =>	Returns True if all characters in the string are ascii characters

In [91]:
# Check if all the characters in the text are ascii characters:

txt : str = "Company123"

print(txt.isascii())

True

# .isdecimal() =>	Returns True if all characters in the string are decimals

In [92]:
# Check if all the characters in a string are decimals (0-9):

txt : str = "1234"

print(txt.isdecimal())

True

# .isdigit() =>	Returns True if all characters in the string are digits

In [93]:
# Check if all the characters in the text are digits:

txt : str = "50800"

print(txt.isdigit())

True

# .isidentifier() => 	Returns True if the string is an identifier

In [94]:
# Check if the string is a valid identifier:

txt : str = "Demo"

print(txt.isidentifier())

True

# .islower() =>	Returns True if all characters in the string are lower case

In [95]:
# Check if all the characters in the text are in lower case:

txt : str = "hello world!"

print(txt.islower())

True

# .isnumeric() =>	Returns True if all characters in the string are numeric

In [96]:
# Check if all the characters in the text are numeric:

txt : str = "565543"

print(txt.isnumeric())

True

# .isprintable() => 	Returns True if all characters in the string are printable

In [97]:
# Check if all the characters in the text are printable:

txt : str = "Hello! Are you #1?" 

print(txt.isprintable())

True

# .isspace() =>	Returns True if all characters in the string are whitespaces

In [98]:
# Check if all the characters in the text are whitespaces:

txt : str = "   "

print(txt.isspace())

True

# .istitle() =>	Returns True if the string follows the rules of a title

In [100]:
# Check if each word start with an upper case letter:

txt : str = "Hello, And Welcome To My World!"

print(txt.istitle())

True

# .isupper() =>	Returns True if all characters in the string are upper case

In [101]:
# Check if all the characters in the text are in upper case:

txt : str = "THIS IS NOW!"

print(txt.isupper())

True

# .join() =>	Joins the elements of an iterable to the end of the string

In [102]:
# Join all items in a tuple into a string, using a hash character as separator:

myTuple : tuple[str, str, str] = ("John", "Peter", "Vicky")

print("#".join(myTuple))

John#Peter#Vicky

# .ljust() =>	Returns a left justified version of the string

In [103]:
# Return a 20 characters long, left justified version of the word "banana":

txt : str = "banana"

print(txt.ljust(20), "is my favorite fruit.")

banana               is my favorite fruit.

# .lower() =>	Converts a string into lower case

In [104]:
# Lower case the string:

txt : str = "Hello my FRIENDS"

print(txt.lower())

hello my friends

# .lstrip() =>	Returns a left trim version of the string

In [105]:
# Remove spaces to the left of the string:

txt : str = "     banana     "

print("of all fruits", txt.lstrip(), "is my favorite")

of all fruits banana      is my favorite

# .maketrans() =>	Returns a translation table to be used in translations

In [107]:
# Create a mapping table, and use it in the translate() method to replace any "S" characters with a "P" character:

txt : str = "Hello Sam!"

print(txt.translate(str.maketrans("S", "P")))

Hello Pam!

# .partition() =>	Returns a tuple where the string is parted into three parts

In [108]:
# Search for the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt : str = "I could eat bananas all day"

print(txt.partition("bananas"))

('I could eat ', 'bananas', ' all day')

# .replace() =>	Returns a string where a specified value is replaced with a specified value

In [109]:
#Replace the word "bananas":

txt : str = "I like bananas"

print(txt.replace("bananas", "apples"))

I like apples

# .rfind() =>	Searches the string for a specified value and returns the last position of where it was found

In [110]:
# At what index in the text is the last occurrence of the string "casa"?:

txt : str = "Mi casa, su casa."

print(txt.rfind("casa"))

12

# .rindex() =>	Searches the string for a specified value and returns the last position of where it was found

In [111]:
# At what index in the text is the last occurrence of the string "casa"?:

txt : str = "Mi casa, su casa." 

print(txt.rindex("casa"))

12

# .rjust() =>	Returns a right justified version of the string

In [112]:
# Return a 20 characters long, right justified version of the word "banana":

txt : str = "banana"

print(txt.rjust(20), "is my favorite fruit.")

              banana is my favorite fruit.

# .rpartition() =>	Returns a tuple where the string is parted into three parts

In [113]:
# Search for the last occurrence of the word "bananas", and return a tuple with three elements:

# 1 - everything before the "match"
# 2 - the "match"
# 3 - everything after the "match"

txt : str = "I could eat bananas all day, bananas are my favorite fruit"

print(txt.rpartition("bananas"))

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

# .rsplit() =>	Splits the string at the specified separator, and returns a list

In [114]:
# Split a string into a list, using comma, followed by a space (, ) as the separator:

txt : str = "apple, banana, cherry"

print(txt.rsplit(", "))

['apple', 'banana', 'cherry']

# .rstrip() =>	Returns a right trim version of the string

In [115]:
# Remove any white spaces at the end of the string:

txt : str = "     banana     "

print("of all fruits", txt.rstrip(), "is my favorite")

of all fruits      banana is my favorite

# .split() =>	Splits the string at the specified separator, and returns a list

In [116]:
# Split a string into a list where each word is a list item:

txt : str = "welcome to the jungle"

print(txt.split())

['welcome', 'to', 'the', 'jungle']

# .splitlines() =>	Splits the string at line breaks and returns a list

In [117]:
# Split a string into a list where each line is a list item:

txt : str = "Thank you for the music\nWelcome to the jungle"

print(txt.splitlines())

['Thank you for the music', 'Welcome to the jungle']

# .startswith() =>	Returns true if the string starts with the specified value

In [118]:
# Check if the string starts with "Hello":

txt : str = "Hello, welcome to my world."

print(txt.startswith("Hello"))

True

# .strip() =>	Returns a trimmed version of the string

In [119]:
# Remove spaces at the beginning and at the end of the string:

txt : str = "     banana     "

print("of all fruits", txt.strip(), "is my favorite")

of all fruits banana is my favorite

# .swapcase() =>	Swaps cases, lower case becomes upper case and vice versa

In [120]:
# Make the lower case letters upper case and the upper case letters lower case:

txt : str = "Hello My Name Is PETER"

print(txt.swapcase())

hELLO mY nAME iS peter

# .title() =>	Converts the first character of each word to upper case

In [121]:
# Make the first letter in each word upper case:

txt : str = "Welcome to my world"

print(txt.title())

Welcome To My World

# .translate() =>	Returns a translated string

In [122]:
#Replace any "S" characters with a "P" character:

#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict : dict[int] = {83:  80}
txt : str = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

# .upper() =>	Converts a string into upper case.

In [123]:
# Upper case the string:

txt : str = "Hello my friends"

print(txt.upper())

HELLO MY FRIENDS

# .zfill() =>	Fills the string with a specified number of 0 values at the beginning

In [124]:
# Fill the string with zeros until it is 10 characters long:

txt : str = "50"

print(txt.zfill(10))

0000000050