# Intall Pandas

In [2]:
# !pip install pandas

Requirement already satisfied: pandas in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\3 bros computerz\anaconda3\envs\python12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Install "lxml" dependency

In [4]:
# !conda install lxml -y

Retrieving notices: ...working... done
Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\3 BROS COMPUTERZ\anaconda3\envs\python12

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2023.12.12 |       haa95532_0         127 KB
    libiconv-1.16              |       h2bbff1b_2         651 KB
    libxml2-2.10.4             |       h0ad7f3c_1         2.8 MB
    libxslt-1.1.37             |       h2bbff1b_1         447 KB
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         5.0 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0

The following packages will be UPDATED:

  ca-certificates                     2023.08.22-haa95532_0 --> 2023.12.12-haa95532_0



Downloading and Extracting Packages

libxml2-2.10.4       | 2.8 MB    |            |   0%

libxslt-1.1.37       | 447 KB    |            |   0%


libiconv-1.16        | 651 KB    |            |   0%



lxml-4.9.3           | 1.0 MB    |            |   0%




ca-certificates-2023 | 127 KB    |            |   0%




ca-certificates-2023 | 127 KB    | #2         |  13%
libxml2-2.10.4       | 2.8 MB    |            |   1%


libiconv-1.16        | 651 KB    | 2          |   2%




ca-certificates-2023 | 127 KB    | #######5   |  76%

libxslt-1.1.37       | 447 KB    | 3          |   4%
libxml2-2.10.4       | 2.8 MB    | 4          |   4%


libiconv-1.16        | 651 KB    | #9         |  20%

libxslt-1.1.37       | 447 KB    | ##8        |  29%




ca-certificates-2023 | 127 KB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | 8          |   8%


libiconv-1.16        | 651 KB    | ###6       |  37%



lxml-4.9.3           | 1.0 MB    | 1          |   2%

libxslt-1.1.37       | 447 KB    | #####7     |  57%


libiconv-1.16        | 651 KB    | #####4     |  54%



lxml-4.9.3           | 1.0 MB    | 9          |   9%


libiconv-1.16        | 651 KB    | ######6    |  66%



lxml-4.9.3           | 1.0 MB    | #5         |  16%

libxslt-1.1.37       | 447 KB    | ########## | 100%

libxslt-1.1.37       | 447 KB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | #2         |  13%



lxml-4.9.3           | 1.0 MB    | ##1        |  22%


libiconv-1.16        | 651 KB    | ########## | 100%


libiconv-1.16        | 651 KB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | ##2        |  23%



lxml-4.9.3           | 1.0 MB    | ###8       |  39%
libxml2-2.10.4       | 2.8 MB    | ###        |  31%



lxml-4.9.3           | 1.0 MB    | ####8      |  48%



lxml-4.9.3           | 1.0 MB    | #####6     |  56%
libxml2-2.10.4       | 2.8 MB    | ###5       |  36%



lxml-4.9.3           | 1.0 MB    | ######3    |  64%
libxml2-2.10.4       | 2.8 MB    | #####8     |  59%



lxml-4.9.3           | 1.0 MB    | #######    |  70%
libxml2-2.10.4       | 2.8 MB    | ######4    |  64%



lxml-4.9.3           | 1.0 MB    | #######6   |  76%



lxml-4.9.3           | 1.0 MB    | ########4  |  84%
libxml2-2.10.4       | 2.8 MB    | ######9    |  69%
libxml2-2.10.4       | 2.8 MB    | #########  |  91%
libxml2-2.10.4       | 2.8 MB    | #########9 | 100%



lxml-4.9.3           | 1.0 MB    | ########## | 100%



lxml-4.9.3           | 1.0 MB    | ########## | 100%
libxml2-2.10.4       | 2.8 MB    | ########## | 100%

















Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

# This code will extract all the table tags into a list of pandas dataframe from the mentioned URL

In [77]:
import pandas as pd

tables = pd.read_html("https://www.w3schools.com/python/python_operators.asp")


# Python divides the operators in the following groups:

1. Arithmetic operators
1. Assignment operators
1. Comparison operators
1. Logical operators
1. Identity operators
1. Membership operators
1. Bitwise operators

# Arithmetic Operators

In [15]:
tables[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [67]:
num1 : int = 5
num2 : int = 8

- Addition

In [68]:
addition : int = num1 + num2 

print(f"5 + 8 = {addition}") # 13

5 + 8 = 13

- Subtraction

In [69]:
subtraction : int = num1 - num2

print(f"5 - 8 = {subtraction}") # -3

5 - 8 = -3

- Multiplication

In [70]:
multiplication : int = num1 * num2

print(f"5 * 8 = {multiplication}") # 40

5 * 8 = 40

- Division

In [71]:
division : float = num1 / num2

print(f"5 / 8 = {division}") # 0.625

5 / 8 = 0.625

- Modulus (return the remainder of the division)

In [72]:
modulus : int = num1 % num2

print(f"5 % 8 = {modulus}")

5 % 8 = 5

- Exponentiation

In [73]:
exponent : int = num1 ** num2

print(f"5 * 5 * 5 * 5 * 5 * 5 * 5 * 5 = {exponent}")
#       1   2   3   4   5   6   7   8

5 * 5 * 5 * 5 * 5 * 5 * 5 * 5 = 390625

- Floor division (will round the float to its nearest small whole number)

In [75]:
num1 : int = 14.8
num2 : int = 3

floor_division_ : float = num1 // num2

print(f"14.8 // 3 = {floor_division_}")

14.8 // 3 = 4.0

# Assignment Operators

In [78]:
tables[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

- =

In [83]:
a : int = 2
b : int = 4

print(a, b )

2 4

- +=

In [101]:
number : int = 12

number += 3

#                12↴
print(f"number = number + 3 => {number}")

number = number + 3 => 15

- -=

In [88]:
number : int = 12

number -= 3

#                12↴
print(f"number = number - 3 => {number}")

number = number - 3 => 9

- *=

In [89]:
number : int = 12

number *= 3

print(f"number = number * 3 => {number}")

number = number * 3 => 36

- /=

In [99]:
number : float = 12

number /= 3

#                12↴
print(f"number = number / 3 => {number}")

12 = 12 / 3 => 4.0

- %=

In [100]:
number : int = 12

number %= 3

#                12↴
print(f"number = number % 3 => {number}")

number = 12 % 3 => 0

- **=

In [102]:
number : int = 12

number **= 3

#                12↴
print(f"number = number ** 3 => {number}")

number = number ** 3 => 1728

- //=

In [104]:
number : int = 12.6

number //= 5

#              12.6↴
print(f"number = number // 5 => {number}")

number = number // 5 => 2.0

# Comparision Operators

In [105]:
tables[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

- ==

In [106]:
a : int = 7
b : int = 10

print( a == b )
# a == b
# 7 == 10
# False

False

In [107]:
a : int = 7
b : int = 7

print( a == b )
# a == b
# 7 == 7
# True

True

In [109]:
a : int = 7
b : str = '7'

print(a == b)
# a == b
# 7 == '7'
# False

False

- !=

In [111]:
a : int = 7
b : int = 7

print( a != b )
# a != b
# 7 != 7
# False

False

- \>

In [112]:
a : int = 7
b : int = 8

print(a > b)
# a > b
# 7 > 8
# False

False

In [113]:
a : int = 7
b : int = 7

print(a > b)
# a > b
# 7 > 7
# False

False

In [115]:
a : int = 10
b : int = 8

print(a > b)
# a > b
# 10 > 8
# True

True

- <

In [116]:
a : int = 10
b : int = 8

print(a < b)
# a < b
# 10 < 8
# False

False

- \>=

In [118]:
a : int = 2
b : int = 7

print(a >= b)
# a >= b
# 2 >= 7
# False

False

In [119]:
a : int = 7
b : int = 7

print(a >= b)
# a >= b
# 7 >= 7
# True

True

In [124]:
a : int = 7
b : int = 7

#        ⬐invalid syntax
print(a => b)

SyntaxError: invalid syntax (862556376.py, line 5)

- <=

In [121]:
a : int = 7
b : int = 7

print(a <= b)
# a <= b
# 7 <= 7
# True

True

# ASCII CODE

A = 65,
B = 66, ..... , 
Z = 90.

a = 97,
b = 98, ..... ,
z = 122.

0 = 48,
1 = 49, ..... ,
9 = 57.

# ord('A') => it returns the ASCII code of that character

In [130]:
print(f"ASCII Character of 'A' => {ord('A')}")
print(f"ASCII Character of '*' => {ord('*')}")
print(f"ASCII Character of '2' => {ord('2')}")
print(f"ASCII Character of '⬐' => {ord('⬐')}")

ASCII Character of 'A' => 65
ASCII Character of '*' => 42
ASCII Character of '2' => 50
ASCII Character of '⬐' => 11024

# chr(65) => it returns the character of that ASCII CODE

In [131]:
print(f"Character for ASCII Code of 65 => {chr(65)}")
print(f"Character for ASCII Code of 42 => {chr(42)}")
print(f"Character for ASCII Code of 50 => {chr(50)}")
print(f"Character for ASCII Code of 11024 => {chr(11024)}")

Character for ASCII Code of 65 => A
Character for ASCII Code of 42 => *
Character for ASCII Code of 50 => 2
Character for ASCII Code of 11024 => ⬐

# Convert the character into ASCII and then compare

In [132]:
a : str = 'A'
b : str = 'B'

print(b >= a)
# b >= a
# 'B' >= 'A'
# 66 >= 65

True

In [133]:


a : str = 'A'
b : str = 'a' 

print(b >= a)
# b >= a
# 'a' >= 'A'
# 97 >= 65

True

# Logical Operators

In [135]:
tables[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

- and (لازمی) => (all conditions must be TRUE, in order to retrun TRUE )

In [137]:
#1        2        3        4
True and True and True and True

True

In [138]:
#       1        2        3        4
print(True and True and True and True)
print(True and True and False and True)
print(False and False and False and True)

True
False
False

- or (optional) => (any one condition must be TRUE, in order to retrun TRUE )

In [139]:
#       1       2       3      4
print(True or True or True or True)
print(True or True or False or True)
print(False or False or False or True)
print(False or False or False or False)

True
True
True
False

- not (invert) => (if it's TRUE, return FALSE or if it's FALSE, return TRUE)

In [140]:
not True

False

In [142]:
name : str = "Qasim"
print(not name == "Qasim")
# not name == "Qasim"
# not "Qasim" == "Qasim"
# not True
# False

False

In [143]:
name : str = "Qasim"
print(name != "Qasim")
# name != "Qasim"
# "Qasim" != "Qasim"
# False

False

# Identity Operators

In [144]:
tables[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

- is (Returns True if both variables are the same objects => shallow copy)

In [146]:
x : str = 'abc'
z : str = 'abc'

print(id(x)) # physical address of character 'x' in memory
print(id(z)) # physical address of character 'y' in memory

x is z

140730093736200
140730093736200

True

In [147]:
i : str = 'abc'
j : str = 'xyz'

print(id(i)) # physical address of character 'i' in memory
print(id(j)) # physical address of character 'j' in memory

i is j

140730093736200
1945274554512

False

- is not (Returns True if both variables are not the same object)

In [149]:
x : str = 'abc'
z : str = 'abc'

print(id(x)) # physical address of character 'x' in memory
print(id(z)) # physical address of character 'y' in memory

x is not z

140730093736200
140730093736200

False

In [150]:
i : str = 'abc'
j : str = 'xyz'

print(id(i)) # physical address of character 'i' in memory
print(id(j)) # physical address of character 'j' in memory

i is not j

140730093736200
1945274554512

True

# Membership Operators

In [151]:
tables[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

- in (Returns True if a sequence with the specified value is present in the object.)

In [3]:
names: list[str] = [chr(i) for i in range(65,91)] 
print(names)
"D" in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

True

In [158]:
names: list[str] = [chr(i) for i in range(65,91)]

print(names)
"Pakistan" in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

False

In [167]:
names : list[str] = ['ziyad','hammad', 'salman']
print(f"User List : {names}")

uinput : str = input("Enter your name")
print(f"User Name = {uinput}")

print(f"Present in User List : {uinput in names}")

User List : ['ziyad', 'hammad', 'salman']
User Name = ziyad
Present in User List : True

- not in (Returns True if a sequence with the specified value is not present in the object.)

In [160]:
names: list[str] = [chr(i) for i in range(65,91)]

print(names)
"D" not in names

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

False

In [168]:
names : list[str] = ['ziyad','hammad', 'salman']
print(f"User List : {names}")

uinput : str = input("Enter your name")
print(f"User Name = {uinput}")

print(f"Present in User List : {uinput not in names}")

User List : ['ziyad', 'hammad', 'salman']
User Name = maaz
Present in User List : True

# PEMDAS

 - P => Parentheses
 - E => Exponents
 - M => Multiplication
 - D => Division
 - A => Addition
 - S => Subtraction

# 3 + 2 - 2 * 4 / 2 + 2



Alright, let's solve the equation step by step. We'll use the order of operations, often remembered by the acronym PEMDAS/BODMAS:

   - Parentheses/Brackets
   - Exponents (ie Powers and Square Roots, etc.)/Orders (ie Powers and Square Roots, etc.)
   - MD Multiplication and Division (left-to-right)
   - AS Addition and Subtraction (left-to-right)

Given the expression:

[ 3 + 2 - 2 \times 4 \div 2 + 2 ]

Let's solve it step by step:

    Multiplication and Division:

[ 2 \times 4 = 8 ] [ 8 \div 2 = 4.0 ]

Replacing these values in the expression, we get:

[ 3 + 2 - 4.0 + 2 ]

    Addition and Subtraction (from left to right):

[ 3 + 2 = 5 ] [ 5 - 4.0 = 1.0 ] [ 1.0 + 2 = 3.0 ]

So, the final answer is:

[ 3.0 ]

In [5]:
print(3 + 2 - 2 * 4 / 2 + 2)

3.0

In [172]:
print((6 + 3) - (6 + 3))

0

#  universe_age : int  = 14_000_000_000 
 - The underscores are used to make the large number more readable; they have no impact on the value itself.

In [170]:
universe_age: int  = 14_000_000_000
print(universe_age)

14000000000

# Unzip

- Each variable gets assigned a value from the corresponding position in the sequence on the right side.

In [174]:
# Tuple-like structure on the right side: ('qasim', 7, 3.0)
# Variables on the left side: a, b, c
# Unziping values from right to left.

a , b  , c  = 'qasim', 7, 3.0

print(a)
print(b)
print(c)

qasim
7
3.0

### The result is a tuple containing these three values. The parentheses are optional when creating a tuple, and commas alone are sufficient to define it.

In [175]:
'qasim', 7, 3.0

('qasim', 7, 3.0)

- Accessing individual elements of the tuple using indexing
- Indexing starts from 0

In [6]:
data: tuple[str, int, float] = ('qasim', 7, 3.0)
display(data[0], data[1], data[2])

'qasim'

7

3.0

# Unziping With * 
 - Using the * operator to unpack the elements of the tuple and pass them as separate arguments to print

In [7]:
# Creating a tuple named 'data'
data : tuple[str, int, float]= ('qasim', 7, 3.0)

display(*data)

'qasim'

7

3.0

### In Python, when you use the * operator with numbers, it performs multiplication. When used with strings, it performs repetition.

In [182]:
display(2 * 2)

display("a" * 3)

4

'aaa'

# Comments

- Single line comments: Starts with `#`

In [184]:
# This is a single-line comment
print("Hello, World!")  # This is an inline comment

Hello, World!

- Multi line comments:  Python doesn't have explicit multi-line comment syntax, but you can use triple-quoted strings.

In [185]:
'''
This is a multi-line
comment or docstring
'''
print("Hello, World!")

Hello, World!

### The import this statement in Python is a way to access "The Zen of Python," which is a collection of aphorisms that capture the philosophy and guiding principles of the Python programming language. It was written by Tim Peters and is included as an Easter egg in the Python interpreter.

In [183]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!