# HELLO WORLD!

In [13]:
print("Hello World!")

Hello World!

* type( ) => Defines type of the variable

In [20]:
country : str = "Pakistan Zindabad"

# display method is similar to print but it prettifies the printing element specially list and dictionary only in Jupyter Notebook
display(country)

display(type(country))

'Pakistan Zindabad'

str

* id( ) => Defines physical address of the variable

In [10]:
country : str = "Pakistan Zindabad"
display(country)

display(id(country))

'Pakistan Zindabad'

1575598180592

* dir( ) => Defines all the available methods & attributes of that particular datatype.

In [21]:
country : str = "Pakistan Zindabad"
display(country)

print(dir(country))

display([i for i in dir(country) if "__" not in i])

'Pakistan Zindabad'

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# DataTypes In Python

* str => Type String

In [19]:
name : str = "Mirza Ziyad Ahmed Baig"
display(name)

print(type(name))
display(id(name))
display([i for i in dir(name) if "__" not in i])

'Mirza Ziyad Ahmed Baig'

<class 'str'>

2050911527664

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

* int => Type Integer

In [10]:
age : int = 24
display(age)

print(type(age))
display(id(age))
display([i for i in dir(age) if "__" not in i])

24

<class 'int'>

140730801081496

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

* float => Type Float

In [9]:
pi : float = 3.142
display(pi)

print(type(pi))
display(id(pi))
display([i for i in dir(pi) if "__" not in i])

3.142

<class 'float'>

2050909423568

['as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

* bool => Type Boolean

In [8]:
is_eligible : bool = False
display(is_eligible)

print(type(is_eligible))
display(id(is_eligible))
display([i for i in dir(is_eligible) if "__" not in i])

False

<class 'bool'>

140730799950576

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

* list[str] => Type List of Strings || list[int] => Type List of Integers

In [7]:
alphabets : list[str] = ["a", "b", "c"]
display(alphabets)

print(type(alphabets))
display(id(alphabets))
display([i for i in dir(alphabets) if "__" not in i])

['a', 'b', 'c']

<class 'list'>

2050909977472

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

* tuple[str, int, bool, float] => Type Tuple of String at index 0, Integer at index 1, Boolean at index 2 & Float at index 3

In [6]:
student : tuple[str, int, bool, float] = ("Ali", 19, True, 87.3)
display(student)

print(type(student))
display(id(student))
display([i for i in dir(student) if "__" not in i])

('Ali', 19, True, 87.3)

<class 'tuple'>

2050911308032

['count', 'index']

* any => Type Any

In [17]:
father_name : any = 700
display(father_name)
print(type(father_name))
display(id(father_name))
display([i for i in dir(father_name) if "__" not in i])

father_name = "Ali"
display(father_name)
print(type(father_name))
display(id(father_name))
display([i for i in dir(father_name) if "__" not in i])

700

<class 'int'>

2050911405136

['as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

'Ali'

<class 'str'>

2050911292944

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']