# LIST

In [3]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"] # comma seprated values are called "Elements"

print(names)

['sir zia', 'muhammad qasim', 'dr noman']

# For Loop Iteration

In [5]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"] 

for i in names:
    print(i)
    # sir zia
    # muhammad qasim
    # dr noman

sir zia
muhammad qasim
dr noman

# Traditional Way to Iterate

In [7]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"]

i : int = 0

while i < len(names):
    print(names[i])
    i += 1

sir zia
muhammad qasim
dr noman

# Iteration In JavaScript

```
for(i = 0; i < names.length(); i++ ){
    names[i]
}
```

In [9]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"]

for i in names:
    print(f'Welcome Dear Teacher {i.title()}')

Welcome Dear Teacher Sir Zia
Welcome Dear Teacher Muhammad Qasim
Welcome Dear Teacher Dr Noman

In [12]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"]

for i in names:
    print(f'Welcome Dear Teacher {i.title()}')
    print("PIAIC GEN AI TEAM\n")

print("Hello World!") # Not Included in For Block

Welcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

Welcome Dear Teacher Muhammad Qasim
PIAIC GEN AI TEAM

Welcome Dear Teacher Dr Noman
PIAIC GEN AI TEAM

Hello World!

## Iteration With Slicing

In [132]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"]

for i in names[:2]: # starting from 0, ending on index 1 with a step of 1
    print(f'Welcome Dear Teacher {i.title()}')
    print("PIAIC GEN AI TEAM\n")

Welcome Dear Teacher Sir Zia
PIAIC GEN AI TEAM

Welcome Dear Teacher Muhammad Qasim
PIAIC GEN AI TEAM

## Reverse Iteration With Slicing

In [133]:
names: list[str] = ["sir zia", "muhammad qasim", "dr noman"]

for i in names[-2:]: # starting with -2, ending to the last index with a step of 1
    print(f'Welcome Dear Teacher {i.title()}')
    print("PIAIC GEN AI TEAM\n")

Welcome Dear Teacher Muhammad Qasim
PIAIC GEN AI TEAM

Welcome Dear Teacher Dr Noman
PIAIC GEN AI TEAM

## For Loop with Else Block:
 
* the else block in code is now related to the for loop, if the logic in for loop is not satisfied then it will run else block.

In [52]:
data_set: list[tuple[str, int]] = [("qasim", 1234),("zia", 5678),("noman", 13570)]

username_input : str = input("USERNAME: ").strip()
password_input : int = int(input("PASSWORD: ").strip())

for user in data_set:
    username, password = user
    if username_input == username and password_input == password:
        print(f"username => {username_input} and password => {password_input}")
        print("User Authorized!".upper())
        break
else: 
    print(f"username => {username_input} and password => {password_input}")
    print("Unauthorized User!".upper())

username => qasim and password => 1234
USER AUTHORIZED!

In [53]:
data_set: list[tuple[str, int]] = [("qasim", 1234),("zia", 5678),("noman", 13570)]

username_input : str = input("USERNAME: ").strip()
password_input : int = int(input("PASSWORD: ").strip())

for user in data_set:
    username, password = user
    if username_input == username and password_input == password:
        print(f"username => {username_input} and password => {password_input}")
        print("User Authorized!".upper())
        break
else: 
    print(f"username => {username_input} and password => {password_input}")
    print("Unauthorized User!".upper())

username => ziyad and password => 123456789
UNAUTHORIZED USER!

## Whenever a variable is used in for loop the last iteration value remains in the variable and is accessable outside the local scope.

In [51]:
magicians : list[str] = ["Alice", "Jack", "Sally"]

for magician in magicians:
    print(f"Welcome Magician {magician},")

print(f"\nLast magician's name was {magician}. ")

Welcome Magician Alice,
Welcome Magician Jack,
Welcome Magician Sally,

Last magician's name was Sally.

# Enumerate()

* `Enumerate()` is a generative function that doesn't run by default, we have to add it to an iteration.
* it returns a list of tuple with the index and value.
* `[(index, value), (index, value), (index, value)]`

In [1]:
magicians : list[str] = ["Alice", "Jack", "Sally"]

list(enumerate(magicians))

# Numbers With Loop

* ```range(start, end, step)```

In [54]:
range(2, 10)

range(2, 10)

* range is a generative function that can not run by default, we have to add it to an iteration.

In [3]:
#          2, n-1 
list(range(2, 10)) 
# ending in range is exclusive or n-1, and step is set to be 1 by default.

[2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(10))
# range(10) => start from zero to 9 that is n-1 with a step value of 1.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## Table of 2 with range()

In [59]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## Table of two with pretty formatting using `range()` & `enumerate()`

In [8]:
for i in enumerate(range(2, 21, 2)):
    print(f"2 x {i[0] + 1} = {i[1]}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

* Table of Two with Unziping of tuple.

In [68]:
for index, value in enumerate(range(2, 21, 2)):
    print(f"2 x {index + 1} = {value}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

## Squares List:

In [72]:
squares: list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## List Comprehensive:

* style of writing multiple lines of code in one line

`Normal Style:` <br>
        for item in items_list: <br>
        &nbsp; &nbsp; loop_body

`Comprehensive Style:` <br> &nbsp; &nbsp;
[loop_body for item in items_list]

### Squares List With List Comprehension

In [96]:
#      ↱ loop defination 
[i**2 for i in range(1,11)] 
# ⬑loop body     ↳ range function

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [106]:
digits: list[int] = [1,2,3,4,5,6,7,8,9,0]

print(f"{digits}\n")

print(f"Max Number in List => {max(digits)}")
print(f"Min Number in List => {min(digits)}")
print(f"Sum of all Number in List => {sum(digits)}")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

Max Number in List => 9
Min Number in List => 0
Sum of all Number in List => 45

### While Slicing a list, we always perform deep copy.

In [110]:
my_foods = ["Biryani", "Daal", "Qorma"]

my_friends_foods = my_foods[:] # DEEP COPY

print(f"my_foods => {my_foods}")
print(f"my_friends_foods => {my_friends_foods}\n")

my_friends_foods[1] = "Tikka"  # it will only update one index on the friends_foods i.e deep copy

print(f"my_foods => {my_foods}")
print(f"my_friends_foods => {my_friends_foods}")

my_foods => ['Biryani', 'Daal', 'Qorma']
my_friends_foods => ['Biryani', 'Daal', 'Qorma']

my_foods => ['Biryani', 'Daal', 'Qorma']
my_friends_foods => ['Biryani', 'Tikka', 'Qorma']

# TUPLES

* similar to const in JS
* immutable
* can not be changed or update

In [111]:
names : tuple[str] = ("ALI", "QASIM", "FAHEEM")

print(names)

('ALI', 'QASIM', 'FAHEEM')

In [112]:
names : tuple[str] = ("ALI", "QASIM", "FAHEEM")

print(names[0]) # Indexing in Tuple

ALI

In [115]:
names : tuple[str] = ("ALI", "QASIM", "FAHEEM")

print(names[:2]) # Slicing in Tuple

('ALI', 'QASIM')

In [12]:
names : tuple[str] = ("ALI", "QASIM", "FAHEEM")

names[0] = "ZIYAD" # Invalid, Can not update

print(names)

TypeError: 'tuple' object does not support item assignment

## Tuple can not update but can be reinitialized

In [120]:
names : tuple[str] = ("ALI", "QASIM", "FAHEEM")

print(names)

names: tuple[str] = ("ZIYAD", "HAMMAD", "SALMAN")

print(names)

('ALI', 'QASIM', 'FAHEEM')
('ZIYAD', 'HAMMAD', 'SALMAN')

In [122]:
from typing import Any
data : tuple[Any] = ("A", [1, 2, 3, 4], True)

print(data)

('A', [1, 2, 3, 4], True)

## Tuple can not update, but if it contains an object then it can be updated.

`tuple itself is not changed but an element within tuple is updated!`

In [131]:
from typing import Any

data : tuple[Any] = ("A", [1, 2, 3, 4], True)
print(f'tuple => {data}')

print(f'\nElement within tuple before update => {data[1]}')

data[1].extend([5, 6, 7, 8, 9]) # list is updated, but tuples remains the same.
print(f'\nElement within tuple after update => {data[1]}')

print(f'\ntuple => {data}')

tuple => ('A', [1, 2, 3, 4], True)

Element within tuple before update => [1, 2, 3, 4]

Element within tuple after update => [1, 2, 3, 4, 5, 6, 7, 8, 9]

tuple => ('A', [1, 2, 3, 4, 5, 6, 7, 8, 9], True)